In [1]:
import os
import pandas as pd
import numpy as np
import xarray as xr
import matplotlib.pyplot as plt
from os.path import join
import yaml
%matplotlib inline

In [2]:
dir_tau = "/glade/p/cisl/aiml/ggantos/cam_run5_model_base_full/"
dir_sd = "/glade/p/cisl/aiml/ggantos/cam_sd_model_base_full/"

In [3]:
classifier_scores_tau = pd.read_csv(join(dir_tau, "dnn_classifier_scores.csv"))
regressor_scores_tau = pd.read_csv(join(dir_tau, "dnn_regressor_scores.csv"))
classifier_scores_sd = pd.read_csv(join(dir_sd, "dnn_classifier_scores.csv"))
regressor_scores_sd = pd.read_csv(join(dir_sd, "dnn_regressor_scores.csv"))

In [4]:
classifier_scores_tau

       Output  accuracy    heidke    peirce
0  qrtend_TAU  0.988240  0.975932  0.975900
1  nctend_TAU  0.995022  0.990003  0.989848
2  nrtend_TAU  0.984602  0.975957  0.975588

In [5]:
classifier_scores_sd

      Output  accuracy    heidke    peirce
0  qrtend_sd  0.974743  0.902316  0.904293
1  nctend_sd  0.959119  0.916315  0.911701
2  nrtend_sd  0.965725  0.934371  0.936845

In [6]:
regressor_scores_tau

          Output      rmse       mae        r2  hellinger
0   qrtend_TAU_1  0.200165  0.095294  0.990962   0.000331
1   nctend_TAU_1  0.174573  0.079305  0.995466   0.000843
2  nrtend_TAU_-1  0.155825  0.081085  0.995389   0.000322
3   nrtend_TAU_1  0.278557  0.180026  0.977120   0.000318

In [7]:
regressor_scores_sd

         Output      rmse       mae        r2  hellinger
0   qrtend_sd_1  0.695942  0.494052  0.854927   0.020507
1   nctend_sd_1  0.354998  0.251794  0.971214   0.001893
2  nrtend_sd_-1  0.265945  0.162036  0.972223   0.006371
3   nrtend_sd_1  0.615680  0.419881  0.778944   0.050998